/* Google fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* common css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    margin: 0;
    padding: 0 16px;
}

.container::before,
.container::after {
    content: "";
    display: table;
    clear: both;
}

h1,
h2,
h3 {
    font-weight: 600;
}

h1 {
    font-size: 64px;
    margin: 10px 0;
}

h2 {
    font-size: 48px;
    color: #f44336;
    margin: 10px 0;
}

h2::after {
    content: '';
    height: 10px;
    width: 60px;
    background-color: #ff0000;
    margin: 20px 0;
    display: block;
    border-radius: 4px;
}

h3 {
    margin: 10px 0;
    font-size: 24px;
}

p {
    margin: 16px 0;
}

.row-flex {
    display: flex;
    padding: 0 8px;
    width: 100%;
}

.opacity {
    opacity: 0.60;
}

img {
    vertical-align: middle;
    width: 100%;
}

/* header block css */
header {
    font-weight: bold;
    width: 300px;
    background-color: #f44336;
    color: #ffffff;
    padding: 8px 16px;
    font-size: 18px;
    height: 100vh;
    position: fixed;
    top: 0;
}

.sidebar {
    margin-top: 26px;
}

header h3 {
    padding: 64px 0;
}

header .container {
    padding: 0 16px;
    margin: 0;
}

.nav-menu a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 8px 16px;
    font-size: 18px;
}

.nav-menu a:hover {
    cursor: pointer;
    color: #000000;
    background-color: #ffffff;
}

/* main block css */
main {
    margin-left: 340px;
    margin-right: 40px;
    overflow-y: auto;
}

main .container {
    margin-top: 75px;
    padding: 0 16px;
}

/* showcase section */
.show-case {
    display: flex;
    padding: 0 8px;
}

.show-case .half {
    padding: 0 8px;
    width: 50%;
}

.show-case .half img {
    margin: 16px 0 -6px;
    opacity: 0.8;
}

.show-case .half img:hover {
    opacity: 1;
    cursor: pointer;
}

/* designers section */
.designers {
    filter: grayscale(75%);
}

.designers h3,
li h3 {
    font-weight: 400;
}

.box {
    padding: 0 8px;
    margin-bottom: 16px;
}

.grey {
    background-color: #f1f1f1;
}

.box .container {
    margin: 0;
    padding: 0 16px;
}

/* packages section */
#Packages .half {
    margin-bottom: 16px;
    padding: 0 8px;
    width: 50%;
}

.row-flex .half ul {
    list-style-type: none;
    text-align: center;
}

.row-flex .half ul li:not(.heading, .padding) {
    padding: 16px;
    border-bottom: 1px solid #ddd;
    background-color: #f1f1f1;
}

.heading {
    padding: 32px 16px;
    font-size: 24px;
    color: #ffffff;
}

.bg-grey {
    background-color: #616161;
}

.bg-red {
    background-color: #f44336;
}

.row-flex .half h3 {
    font-size: 30px;
}

.padding {
    padding: 24px 16px;
    background-color: #f1f1f1;
}

.btn-light {
    color: #000000;
    background-color: #ffffff;
}

.btn-red {
    color: #ffffff;
    background-color: #f44336;
}

button[type=button] {
    padding: 12px 24px;
    border: none;
}

button[type=button]:hover {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}


/* footer block css */
footer {
    margin-top: 75px;
    background-color: #f1f1f1;
    text-align: right;
    padding: 32px 58px 32px 16px;
}

footer a {
    text-decoration: underline;
    color: #000000;
}

footer a:hover {
    color: #8a8a8a;
}

.form-group {
    margin: 16px 0;
}

input,
textarea {
    padding: 8px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    display: block;
    border: 1px solid #ccc;
}

button[type=submit] {
    color: #ffffff;
    background-color: #f44336;
    padding: 12px 24px;
    margin-bottom: 16px;
    width: 100%;
    border: none;
}

button[type=submit]:hover {
    background-color: #cccccc;
    color: #000000;
    cursor: pointer;
}